<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>2024</integer>
  <key>capHeight</key>
  <integer>1400</integer>
  <key>copyright</key>
  <string>Copyright 2020 The Geologica Project Authors (https://github.com/googlefonts/geologica)
Copyright 2020-2023 The Rosa Sans Project Authors (https://github.com/cssobral2013/rosa-sans)</string>
  <key>descender</key>
  <integer>-624</integer>
  <key>familyName</key>
  <string>Rosa Sans VF</string>
  <key>guidelines</key>
  <array>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>name</key>
    <string>m</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>250</integer>
  </dict>
  </array>
  <key>italicAngle</key>
  <integer>-15</integer>
  <key>openTypeGaspRangeRecords</key>
  <array>
  <dict>
    <key>rangeGaspBehavior</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
      </array>
    <key>rangeMaxPPEM</key>
    <integer>65535</integer>
  </dict>
  </array>
  <key>openTypeHeadCreated</key>
  <string>2022/08/09 00:17:38</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>1874</integer>
  <key>openTypeHheaCaretOffset</key>
  <integer>-128</integer>
  <key>openTypeHheaDescender</key>
  <integer>-624</integer>
  <key>openTypeHheaLineGap</key>
  <integer>-0</integer>
  <key>openTypeNameDesigner</key>
  <string>Sindre Bremnes, Frode Helland, Cristiano Sobral</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
  <key>openTypeNameLicenseURL</key>
  <string>https://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>Monokrom, Sindre Bremnes, Frode Helland, Cristiano Sobral</string>
  <key>openTypeNameManufacturerURL</key>
  <string>https://monokrom.no/</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Rosa Sans VF</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Thin Italic</string>
  <key>openTypeNameVersion</key>
  <string>Version 3.005</string>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>600</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>100</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>1300</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>150</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>1200</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>1300</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>700</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>1200</integer>
  <key>openTypeOS2Type</key>
  <array>
    <integer>2</integer>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>2024</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-624</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>244</integer>
  <key>openTypeOS2WeightClass</key>
  <integer>100</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>2146</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>746</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-20</integer>
    <integer>0</integer>
  </array>
  <key>postscriptFontName</key>
  <string>RosaSansVF-ThinItalic</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>Rosa Sans VF Thin Italic</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>104</integer>
    <integer>108</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>112</integer>
    <integer>116</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-100</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string>Thin</string>
  <key>styleMapFamilyName</key>
  <string>Rosa Sans VF</string>
  <key>styleMapStyleName</key>
  <string>italic</string>
  <key>styleName</key>
  <string>Thin Italic</string>
  <key>unitsPerEm</key>
  <integer>2000</integer>
  <key>versionMajor</key>
  <integer>3</integer>
  <key>versionMinor</key>
  <integer>5</integer>
  <key>xHeight</key>
  <integer>960</integer>
</dict>
</plist>
